.style_avatar__21Fw3 {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  vertical-align: top;
}

.style_avatar__21Fw3 img {
  vertical-align: middle;
}

.style_button__1YfrP {
  font-size: 24px;
  background-color: red;
  color: #fff;
}

.style_button__1YfrP[data-theme="dark"] {
  background-color: darkred;
}
